@page
@model ProjetoGPS_Site.Pages.ContactosModel
@{
    ViewData["Title"] = "Contactos";
    ViewData["HeaderDescription"] = "Descobre como contactar os politécnicos aderentes!";
}

<div>
	<!-- Content section 1-->
	<div class="container px-5 row gx-5 align-items-center">
		<div class="col-lg-6 order-lg-2">
			<div class="p-5">
				<a href="https://www.ips.pt/">
					<img class="img-fluid " src="~/img/ips.png" />
				</a>
			</div>
		</div>
		<div class="col-lg-6 order-lg-1">
			<div class="p-5">
				<h2 class="display-4">Instituto Politécnico de Setúbal</h2>
				<div class="paragraphs">
					<a>Email: </a><a class="paragraphs" href="mailto: brightstart@deloitte.pt">brightstart@deloitte.pt</a>
				</div>
				<div class="paragraphs">
					<a>Telefone: 210 422 932</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Content section 2-->
	<div class="container px-5 row gx-5 align-items-center">
		<div class="col-lg-6 order-lg-2">
			<div class="p-5">
				<a href="https://www.ipv.pt/">
					<img class="img-fluid rounded-circle" src="~/img/ipv.png" />
				</a>
			</div>
		</div>
		<div class="col-lg-6 order-lg-1">
			<div class="p-5">
				<h2 class="display-4">Instituto Politécnico de Viseu</h2>
				<div class="paragraphs">
					<a>Email: </a><a class="paragraphs" href="mailto: brightstartIPV@deloitte.pt">brightstartIPV@deloitte.pt</a>
				</div>
				<div class="paragraphs">
					<a>Telefone: 210 422 934</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Content section 3-->
	<div class="container px-5 row gx-5 align-items-center">
		<div class="col-lg-6 order-lg-2">
			<div class="p-5">
				<a href="https://www.ipleiria.pt/">
					<img class="img-fluid rounded-circle" src="~/img/ipl-2.png" />
				</a>
			</div>
		</div>
		<div class="col-lg-6 order-lg-1">
			<div class="p-5">
				<h2 class="display-4">Instituto Politécnico de Leiria</h2>
				<div class="paragraphs">
					<a>Email: </a><a class="paragraphs" href="mailto: brightstartIPL@deloitte.pt">brightstartIPL@deloitte.pt</a>
				</div>
				<div class="paragraphs">
					<a>Telefone: 210 422 935</a>
				</div>
			</div>
		</div>
	</div>
</div>
